* {
	box-sizing: border-box;
	margin: 0 auto;
	font-family: Montserrat;
}

.wrapper {
	max-width: 100%;
	overflow: hidden;
}

/*----------HEADER----------*/
.nav-menu{
	text-align: center;
}
.menu-list{
	display: inline-block;
	list-style-type: none;
}
.menu-items{
	float: left;
	margin: 25.5px 25px;
}
.menu-link{
	color: red;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.1;
	text-decoration: none;
	text-transform: uppercase;
}



/*-------IMG-HEADER*/






/*----------CONTEXT--------*/
.main {
	font-size: 16px;
	font-weight: 400;
}
.title-context {
	font-weight: 800;
	font-size: 22px;
	text-align: center;
	margin: 48px auto;
	font-weight:bold;
}
.context {
	text-align: center;
	margin: 0 67px;
	line-height: 26px;
}
.context-sub {
	margin: 28px 0 0 0;
}
/*---------BUTTON--------*/

.btn {
	text-align: center;
	margin: 84px;
}
.btn a {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: 800;
	font-size: 12px;
	padding:17px 43px;
	background: #FF0000;
	border-radius: 4px;
	border: 0px;
}


/*-------FOOTER----------*/



.footer {
	font-weight: 700;
	font-size: 16px;
	line-height: 19.5px;
	margin: 0 67px 29px 0;
	text-align: right;
}